form {
  display: flex;
  flex-direction: column;
  width: 200px;
  margin: 0 auto;
}

label {
  margin-top: 10px;
  margin-bottom: 5px;
}

input {
  padding: 5px;
  font-size: 16px;
}

input[type="checkbox"] {
  width: auto;
  margin-top: 12px;
}

button {
  margin-top: 15px;
  padding: 10px;
  font-size: 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}
