.form-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
  margin: 10px auto;
}

.form-container input,
.form-container button {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.form-container button {
  background-color: #28a745;
  color: white;
  border: none;
  cursor: pointer;
}
.form-container button:hover {
  background-color: #218838;
}
