.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
}

.container {
  width: 80%;
  background-color: lightgray;
  margin: 10px;
  border-radius: 8px;
  padding: 10px 14px;
}

.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: royalblue;
  color: white;
  font-size: large;
}
